<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" th:href="@{/css/headershortcut.css}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">



<head>
<meta charset="ISO-8859-1">
<title>Access Denied</title>
</head>
<body>



<!--<div class="header" th:fragment="headershortcut">-->

<!--    <div class="topnav2" id="myTopnav2">-->

<!--        <a th:href="@{/main/adminstraions}" >-->
<!--            <div class="logo" >-->
<!--                <p class="dropbtnlogo" >-->
<!--                    <span class="OXLetters">O</span><span class="ULetter">U</span><span	class="OXLetters">X</span>-->
<!--                </p>-->
<!--                <h5>Company</h5>-->
<!--                <h5>Management</h5>-->

<!--            </div>-->
<!--        </a>-->


<!--    </div>-->
<!--</div>-->


<!--<div class="accessDeniedDiv" >-->
<!--    <h3>YOU DON'T HAVE ACCESS TO THIS PAGE</h3>-->
<!--</div>-->



</body>
</html>