<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" th:href="@{/css/errorAndEmail.css}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>




<div class="center">
    <div class="heart" >
        <div class="errorDescription">
            <h1>Change Your Password</h1>
            <h2>Enter your new password for your ccount.</h2>

            <form th:action="@{/user/changePassword}" th:object="${user}" method="post">

                <input type="hidden" th:field="*{email}" >
                <input type="hidden" name="token"  th:value="${token}" />
                <table>
                    <tr>

                        <td><input type="text" disabled th:field="*{realUsername}"></td>
                    </tr>
                    <tr>
                        <td><input type="password" placeholder="Enter your password" th:field="*{password}"></td>
                    </tr>
                    <tr>
                        <td><input type="password" placeholder="Confirm your password" name="confirmPassword" ></td>
                    </tr>
                </table>


                <div th:if="${passwordMatched} == false" id="invaliddiv" >
                    <b>password dose not match</b>
                </div>


                <button class="submitButton" type="submit">
                    <h3>Submit</h3>
                </button>

            </form>
            <h3><a th:href="@{/main/adminstraions}" >Back To Home </a></h3>
            <p>Don't have an account ? <a id="signup"th:href="@{/user/CreateAccount}">Sign Up</a></p>

        </div>
    </div>
</div>


</body>
</html>