<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" th:href="@{/css/errorAndEmail.css}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

<head>
    <meta charset="utf-8">
    <title>Email Confirmation</title>
</head>
<body>



        <div class="center">
            <div  class="heart" >
                <div class="registrationDescription">
                    <h1>Confirmation Successful</h1>
                    <h2>You successfully confirmed and create your Admin account</h2>
                    <h3><a th:href="@{/main/adminstraions}" >Back To Home </a></h3>
                    <img th:src="@{/images/oux_building.png}" >
                </div>
            </div>
        </div>

</body>
</html>