<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" th:href="@{/css/errorAndEmail.css}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
		rel="stylesheet">
<head>
	<meta charset="UTF-8">
	<title>Main Administration</title>
</head>
<body>




<div class="center">
	<div class="heart" >
		<div class="errorDescription">




			<a th:href="@{/department/list}">
				<div class="administration">
					<h2>Departments</h2>
				</div>
			</a>

			<a th:href="@{/project/list}">
				<div class="administration">
					<h2>Projects</h2>
				</div>
			</a>

			<a th:href="@{/employee/list}">
				<div class="administration">
					<h2>Employees</h2>
				</div>
			</a>




			<div class="logo" >
				<span class="OXLetters">O</span><span class="ULetter">U</span><span	class="OXLetters">X</span>
				<h5>Company</h5>
				<h5>Management</h5>
			</div>


		</div>
	</div>
</div>

</body>
</html>