<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" th:href="@{/css/errorAndEmail.css}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Retrieve Password</title>
</head>
<body>

<div class="errorBackground">
    <img th:src="@{/images/oux.png}" />
</div>

<div class="center">
    <div class="heart" >
        <div class="errorDescription">
            <h1>Forgot Your Password?</h1>
            <h2>To reset your password, please enter your Email.</h2>
            <h3>We will send the password reset link to the Email address for this account.</h3>
            <form th:action="@{/user/setNewPassword}" method="post" >

                <input class="emailInput" type="email" name="email" th:value="${email}" placeholder="Enter your email" ><br>

                <div  th:id="${divId}" >
                    <b th:text="${confirmation}" />
                </div>

                <button class="submitButton" type="submit">
                     <h3>Submit</h3>
                </button>

                <br>

                <h3><a th:href="@{/main/adminstraions}" >Back To Home </a></h3>
                <p>Don't have an account ? <a id="signup"th:href="@{/user/CreateAccount}">Sign Up</a></p>
            </form>
        </div>
    </div>
</div>








</body>
</html>